@require '~vuetify/src/stylus/theme.styl'

$button-height = 46px;

@import '~vuetify/src/stylus/main'

/* Colors */

.theme--dark.primary--text {
  color: rgba(0,0,0,0.3) !important;
}

/* Grid */

.container {
  padding: 20px;
}

.v-content__wrap {
  padding-bottom: 60px;
}

/* Map */

.o-map {
  .v-content__wrap {
    padding-bottom: 0;
  }

  .vue-map-container {
    height: calc(100vh - 56px)
  }
}

.o-map-detail {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  background: #fafafa;
}

.v-stepper__content {
  padding-right: 0 !important;
}

/* Toolbar */

.v-toolbar {
  box-shadow: none;
  background-image: linear-gradient(-101deg, #E44D61 0%, #FF9953 100%);
  background-size: cover;

  .v-input {
    height: 48px;  
  }
}

.v-toolbar__title {
  color: #fff;
  font-family: 'Signika Negative', sans-serif;

  &:not(:first-child) {
    margin-left: 14px;
  }
}

/* Horizontal swipe */

.o-horizontal-swipe {
  margin: 0 -20px;
  padding: 0 20px 2px;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.o-menuform-horizontal-swipe {
  margin-right: 36px;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.o-shoppingcart {
  position: fixed;
  bottom: 0;
  z-index: 1;

  .v-btn {
    width: calc(100vw - 16px);
  }
}

/* Top nav */

.o-topnav-badge .v-badge__badge {
  top: 5px;
  right: 5px;
}

/* Bottom nav */

.v-bottom-nav--fixed {
  bottom: 60px !important;
}

/* Button */

.v-btn.primary {
  background-image: linear-gradient(-101deg, #FF9953 0%, #E44D61 100%);
}

/* Card */

.v-card {
  background: none !important;
  box-shadow: none;

  .v-image {
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.12);
  }
}

.v-dialog .v-card {
  background: #fff !important;
}

.v-card__title {
  padding: 3px 6px;
}

/* Ordino header */

.o-header {
  position: fixed;
  width: 100%;
  height: 146px;
  padding-top: 56px;

  background-image: linear-gradient(-101deg, #E44D61 0%, #FF9953 100%);
  background-size: cover;

  color: #fff;

  + .v-content {
    position: relative;
    margin-top: 146px;
    padding: 0 !important;
    z-index: 1;
    
    background: #fafafa !important;
  }
}

.o-header-button {
  margin: 0 20px 0 -9px;
}

.o-header-logo {
  width: 56px;
  position: relative;
  top: -5px;
}

/* Ordino headings */

.o-section-title {
  color: #8C8787;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;  
}

/* Ordino location selector */

/* Ordino card */

.o-card-title {
  line-height: 1.2;  
}

.o-card-title-strong {
  font-family: 'Signika Negative', sans-serif !important;
  font-weight: 600;
  line-height: 1.2;
}

.o-card-subtitle {
  color: #B3B1B1;  
}

.o-card-imgwrapper {
  position: relative;
}

.o-card-logo {
  position: absolute;
  width: calc(50% * 9 / 14);
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  &.square {
    width: 50%;
  }

  + .v-image {
    filter: brightness(60%);
  }
}

.o-card-actions {
  position: absolute;
  right: 0;
  bottom: 0;

  .v-btn:not(:last-child) {
    margin-right: -9px;
  }  
}

.o-card-more {
  margin-right: 10px;
}

/* Ordino alert page */

.o-alertpage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  background-image: linear-gradient(-101deg, #FF9953 0%, #E44D61 100%);

  color: #fff;

  > .container > .layout {
    height: calc(100vh - 40px);
  }
}

/* Ordino skeleton */

.o-text-skeleton:not(.is-loaded) {
  background: #eee;
  border-radius: 3px;

  > * {
    opacity: 0;
  }
}

/* Ordino menu form */

.o-menu-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}

.o-menu-choice {
  filter: brightness(70%);
  transition: filter 0.2s;
}

input:checked + .o-menu-choice {
  filter: brightness(100%);
}

.o-menuform {

  .container,
  .v-content__wrap {
    padding: 0;  
  }

  .v-stepper {
    min-height: calc(100vh - 56px);  
  }

  .v-badge--overlap {
    padding-top: 8px;

    .v-badge__badge {
      top: 0;
      z-index 1;  
    }  
  }

  .v-badge__badge {
    display: none
  }

  input:checked + .v-badge__badge {
    display: flex;
  }
}

.o-payment-iframe {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 20px;

  border: none;
}

/* Ordino modal */

.o-modal-addtocart {
  width: 100%;  
}

/* Ordino price */

.o-price-old {
  text-decoration: line-through;
}

.o-price-new {
  color: red;  
}

/* Tiles */

.o-list-unavailable {
  background: #ff8585;
}

.v-list__tile__content .v-badge__badge {
  top: -7px;
}

/* Transitions */

$transition-duration = .25s
$transition-ease = cubic-bezier(0.165, 0.84, 0.44, 1)

  #app {
    overflow: hidden;
  }

  .application--wrap {
    display: grid;
    grid-template: "main";
  }

  .application--wrap > * {
    grid-area: main;
    width: 100vw;
    background: #fafafa;
    z-index: -1;

    &.is-visible {
      z-index: auto;
    }
  }

  .next-leave-to {
    animation: leaveToLeft $transition-duration $transition-ease;
    z-index: 0;
    height: 100vh;
  }

  .next-enter-to {
    animation: enterFromRight $transition-duration $transition-ease;
    z-index: 1 !important;
    height: 100vh;
  }

  .prev-leave-to {
    animation: leaveToRight $transition-duration both $transition-ease;
    z-index: 1 !important;
    height: 100vh;
  }

  .prev-enter-to {
    animation: enterFromLeft $transition-duration both $transition-ease;
    z-index: 0;
    height: 100vh;
  }

  @keyframes leaveToLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-25%);
      filter: brightness(0.5);
    }
  }

  @keyframes enterFromLeft {
    from {
      transform: translateX(-25%);
      filter: brightness(0.5);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes leaveToRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes enterFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-leave-to {
    opacity: 0;
  }

  /* Base */
  a {
    text-decoration: none
  }

  .o-login {
    display: flex;
    height: 100vh;
  }

  .o-login-logo {
    display: block;
    width: 240px;
    margin: 0 auto 50px;
  }

