<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('user.create_account') }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container>
        <form class="mb-4">
          <v-text-field
            v-model="firstname"
            :label="$t('user.firstname')"
            :rules="[rules.required]"
            ref="firstname"
            required
          ></v-text-field>
          <v-text-field
            v-model="lastname"
            :label="$t('user.lastname')"
            :rules="[rules.required]"
            ref="lastname"
            required
          ></v-text-field>
          <v-text-field
            v-model="email"
            :label="$t('user.email')"
            :rules="[rules.required, rules.email]"
            :validate-on-blur="true"
            ref="email"
            required
          ></v-text-field>
          <v-text-field
            v-model="phone"
            :label="$t('user.phone_number')"
            :rules="[rules.required]"
            ref="phone"
            required
          ></v-text-field>
          <v-select
            :label="$t('user.language')"
            :items="languages"
            v-model="language"
            item-text="name"
            item-value="value"
          ></v-select>
          <v-text-field
            v-model="password"
            :label="$t('user.password')"
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            :rules="[rules.required, rules.password]"
            :validate-on-blur="true"
            ref="password"
            @click:append="showPassword = !showPassword"
            required
          ></v-text-field>
          <v-btn block color="primary" @click="submit" >{{ $t('user.create_account') }}</v-btn>
        </form>
        <p><router-link :to="'login'">{{ $t('user.already_account') }}</router-link></p>
      </v-container>
    </v-content>
    <v-snackbar
      v-model="showMessage"
      :timeout="6000"
      :bottom="true"
      :multi-line="true"
    >
      {{ message }}
      <v-btn
        color="primary"
        flat
        @click="showMessage = false"
      >
        {{ $t('user.close') }}
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import {AUTH_TMP_USER} from '@/store/actions/auth'

export default {
  name: 'login',
  data () {
    return {
      firstname: '',
      lastname: '',
      email: '',
      password: '',
      phone: '',
      language: 'FR',
      languages: [
        { value: 'FR', name: 'Français' },
        { value: 'DE', name: 'Deutsch' }
      ],
      showPassword: false,
      showMessage: false,
      message: null,
      rules: {
        required: value => !!value || 'Champ requis.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Adresse email non-valide.'
        },
        password: value => value.length >= 6 || 'Le mot de passe doit contenir au moins 6 caractères'
      }
    }
  },
  methods: {
    submit () {
      var form = ['firstname', 'lastname', 'email', 'password', 'phone']
      var formHasErrors = false

      form.forEach(field => {
        if (this.$refs[field].validate(true) === false) {
          formHasErrors = true
        }
      })

      if (formHasErrors === false) {
        this.createAccount()
      }
    },
    createAccount () {
      var params = {
        firstname: this.firstname,
        lastname: this.lastname,
        email: this.email,
        password: this.password,
        language: this.language,
        phone: this.phone
      }

      axios
        .post(process.env.API_URL + '/Users/register', params)
        .then((response) => {
          this.$store.dispatch(AUTH_TMP_USER, params).then(() => {
            this.$router.push('/validateaccount')
          })
        })
        .catch(e => {
          this.showMessage = true
          this.message = e.message
          this.error = e.message
        })
    }
  }
}
</script>
