<template>
  <div>
    <v-navigation-drawer v-model="drawer" fixed app>
      <the-user-menu :activeOrders="activeOrders"></the-user-menu>
    </v-navigation-drawer>

    <v-toolbar dark fixed app>
      <v-badge overlap class="o-topnav-badge">
        <template v-slot:badge>
          <span v-if="activeOrders">{{ activeOrders }}</span>
        </template>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      </v-badge>
      <v-toolbar-title v-if="search === false">Ordino</v-toolbar-title>
      <the-points-of-sales-search-input v-show="search" ref="search"></the-points-of-sales-search-input>
      <v-spacer></v-spacer>
      <v-btn icon @click="displaySearch" v-if="location.noAccess === false">
        <v-icon>search</v-icon>
      </v-btn>
    </v-toolbar>

    <div class="o-header">
      <v-container>
        <the-location-selector></the-location-selector>
      </v-container>
    </div>

    <v-content>
      <the-error-page v-if="error" :error="error"></the-error-page>
      <v-container v-show="location.noAccess">{{ $t('location.select') }}</v-container>
      <div class="o-content">
        <v-container fluid grid-list-lg>
          <home-group-section
            v-show="location.noAccess === false"
            v-for="(homeGroup, index) in homeGroups"
            :homeGroup="homeGroup"
            :key="index">
          </home-group-section>
        </v-container>
      </div>
    </v-content>
    <the-geolocation-alert v-if="location.displayAlert"></the-geolocation-alert>
  </div>
</template>

<script>
import axios from 'axios'
import HomeGroupSection from '@/components/HomeGroupSection'
import TheErrorPage from '@/components/TheErrorPage'
import TheGeolocationAlert from '@/components/TheGeolocationAlert'
import TheLocationSelector from '@/components/TheLocationSelector'
import ThePointsOfSalesSearchInput from '@/components/ThePointsOfSalesSearchInput'
import TheUserMenu from '@/components/TheUserMenu'

const skeletonHomeGroups = [
  {skeleton: true, details: [{skeleton: true, entityType: 'Category'}, {skeleton: true, entityType: 'Category'}, {skeleton: true, entityType: 'Category'}]},
  {skeleton: true, details: [{skeleton: true, entityType: 'Category'}, {skeleton: true, entityType: 'Category'}, {skeleton: true, entityType: 'Category'}]}
]

export default {
  data: () => ({
    drawer: false,
    error: '',
    activeOrders: 0,
    homeGroups: skeletonHomeGroups,
    search: false
  }),
  computed: {
    location () {
      return this.$store.getters.getLocation
    }
  },
  mounted () {
    this.loadHomeList()

    axios
      .get(process.env.API_URL + '/Orders')
      .then((response) => {
        this.activeOrders = response.data.result.filter(
          value => value.status === 'Paid'
        ).length
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    displaySearch () {
      this.search = !this.search
      this.$refs.search.focus()
      // document.getElementById('search').click()
    },
    loadHomeList () {
      const filter = this.$store.getters.getFilters

      axios
        .get(process.env.API_URL + '/Home', {
          params: {
            longitude: this.location.lng,
            latitude: this.location.lat,
            distanceMaxInKm: filter.distanceMaxInKm
          }
        }).then((response) => {
          var self = this
          setTimeout(function () {
            self.homeGroups = response.data.result
          }, process.env.TIMEOUT)
        })
        .catch(e => {
          this.error = e.message
        })
    }
  },
  watch: {
    location () {
      this.loadHomeList()
    }
  },
  components: {
    HomeGroupSection,
    TheErrorPage,
    TheGeolocationAlert,
    TheLocationSelector,
    ThePointsOfSalesSearchInput,
    TheUserMenu
  }
}
</script>
