<template>
  <div>
    <v-content>
      <div class="o-login">
        <v-container>
          <img :src="require('@/assets/ordino.svg')" class="o-login-logo">
          <form class="mb-4">
            <v-text-field
              v-model="email"
              :label="$t('user.email')"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              :label="$t('user.password')"
              :type="showPassword ? 'text' : 'password'"
              :append-icon="showPassword ? 'visibility_off' : 'visibility'"
              @click:append="showPassword = !showPassword"
              required
            ></v-text-field>
            <v-btn block color="primary" @click="login">{{ $t('user.login') }}</v-btn>
          </form>
          <p class="text-xs-center">
            <router-link :to="'createaccount'">{{ $t('user.create_account') }}</router-link>
          </p>
        </v-container>
      </div>
    </v-content>
    <v-snackbar
      v-model="showMessage"
      :timeout="6000"
      :bottom="true"
      :multi-line="true"
    >
      {{ message }}
      <v-btn
        color="primary"
        flat
        @click="showMessage = false"
      >
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import {AUTH_REQUEST} from '@/store/actions/auth'

export default {
  name: 'login',
  data () {
    return {
      email: 'customer1@ordino.ch',
      password: 'Ordino2019!',
      showPassword: false,
      message: null,
      showMessage: false
    }
  },
  methods: {
    login: function () {
      const { email, password } = this
      this.$store.dispatch(AUTH_REQUEST, { email, password })
        .then(() => {
          this.$router.push('/')
        })
        .catch(e => {
          this.message = e.response.data.errorMessage
          this.showMessage = true
        })
    }
  }
}
</script>
