<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('menu.menu_selection') }}</v-toolbar-title>
    </v-toolbar>
    <v-content class="o-menuform">
      <v-container fluid grid-list-lg>
        <v-stepper v-model="step" vertical v-if="menuGroups">
          <template v-for="(group, index) in menuGroups">

            <v-stepper-step
              :key="'a' + index" :complete="selected[index] !== null"
              :step="index + 1"
              @click="step=index + 1"
            >
              {{ group.menuGroupTitle }}
              <small>{{ selectedLabels[index] || $t('menu.choose_article') }}</small>
            </v-stepper-step>

            <v-stepper-content :key="'b' + index" :step="index + 1">
              <div class="o-menuform-horizontal-swipe mb-3">
                <v-layout row>
                  <v-flex xs6 md4 grow
                    v-for="(choice, choiceIndex) in group.choices"
                    :key="choiceIndex"
                  >
                    <v-badge right overlap style="display:block">
                      <label>
                        <input
                          type="radio"
                          style="display:none"
                          :name="'choice[' + index + ']'"
                          :value="choice.articleId"
                          v-model="selected[index]"
                        >
                        <span class="v-badge__badge primary">
                          <span>
                            <v-icon dark>done</v-icon>
                          </span>
                        </span>
                        <v-card class="o-menuform-choice">
                          <image-skeleton
                            :src="choice.imageUrl"
                            :ratio="1"
                          ></image-skeleton>
                          <v-card-title>
                            <div>
                              <h3 class="body-2 mt-2 o-card-title">{{ choice.articleName }}</h3>
                            </div>
                          </v-card-title>
                        </v-card>
                      </label>
                    </v-badge>
                  </v-flex>
                </v-layout>
              </div>
              <v-btn small color="primary"
                @click="step = index + 2"
                :disabled="selected[index] === null"
                v-if="index < menuGroups.length - 1"
              >
                {{ $t('menu.next_step') }}
              </v-btn>
            </v-stepper-content>

          </template>
        </v-stepper>
        <div class="o-shoppingcart" v-if="showAddToCart">
          <v-btn large color="primary" dark @click="addToCart">
            <v-icon left>shopping_cart</v-icon>
            {{ $t('menu.addtocart') }}
          </v-btn>
        </div>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios'
import ImageSkeleton from '@/components/ImageSkeleton'
import TheShoppingCartButton from '@/components/TheShoppingCartButton'

export default {
  data () {
    return {
      step: 1,
      menuGroups: null,
      selected: {},
      selectedLabels: {},
      showAddToCart: false
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL +
        '/PointsOfSales/' + this.$route.params.pointOfSalesId +
        '/ArticleCategories/' + this.$route.params.categoryId +
        '/Menu/' + this.$route.params.articleId)
      .then((response) => {
        this.menuGroups = response.data.result.menuGroups

        var selected = {}
        for (var i = 0; i < this.menuGroups.length; i++) {
          selected[i] = null
        }
        this.selected = selected
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    addToCart () {
      var menuChoices = []

      Object.entries(this.selected).forEach((value) => {
        menuChoices.push({
          menuGroupId: this.menuGroups[value[0]].menuGroupId,
          choiceArticleId: value[1]
        })
      })

      this.$store.dispatch('addToCart', {
        articleId: this.$route.params.articleId,
        pointOfSalesId: this.$route.params.pointOfSalesId,
        quantity: 1,
        menuChoices
      })

      this.$router.go(-1)
    }
  },
  watch: {
    selected: {
      handler (selected) {
        var showAddToCart = true

        Object.entries(selected).forEach((value) => {
          if (value[1] === null) {
            showAddToCart = false
          } else {
            this.selectedLabels[value[0]] = this.menuGroups[value[0]]
              .choices.filter(v =>
                v.articleId === value[1]
              )[0].articleName
          }
        })

        this.showAddToCart = showAddToCart
      },
      deep: true
    }
  },
  components: {
    TheShoppingCartButton,
    ImageSkeleton
  }
}
</script>
