<template>
  <div>
    <v-toolbar dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'home' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ status === 'current' ? $t('orders.current_orders') : $t('orders.previous_orders') }}</v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-data-table
        :headers="headers"
        :items="orders"
        hide-actions
      >
        <template slot="items" slot-scope="props">
          <tr @click="toDetail(props.item.orderId)">
            <td>{{ props.item.when | date }}</td>
            <td>{{ props.item.pointOfSalesName }}</td>
            <td class="text-xs-right">{{ props.item.amount | price }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      orders: [],
      status: this.$route.params.status
    }
  },
  computed: {
    headers () {
      return [
        { text: this.$i18n.t('orders.date'), value: 'when', sort: 'desc' },
        { text: this.$i18n.t('orders.pointofsales'), value: 'pointOfSalesName' },
        { text: this.$i18n.t('orders.amount'), value: 'amount', align: 'right' }
      ]
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/Orders')
      .then((response) => {
        if (this.status === 'current') {
          this.orders = response.data.result.filter(
            value => value.status === 'Paid'
          )
        } else {
          this.orders = response.data.result.filter(
            value => value.status !== 'Paid'
          )
        }
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    toDetail (orderId) {
      this.$router.push({name: 'orderdetail', params: { orderId: orderId }})
    }
  }
}
</script>
