<template>
  <div>
    <v-toolbar dark fixed app>
      <v-toolbar-side-icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('confirmation.order') }} #{{ orderId }}</v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container fluid grid-list-lg>
        <order-detail :order="order" :qrcode="qrcode"></order-detail>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios'
import OrderDetail from '@/components/OrderDetail'

export default {
  data () {
    return {
      orderId: parseInt(this.$route.params.orderId),
      order: {},
      qrcode: null
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/Orders/' + this.orderId)
      .then((response) => {
        this.order = response.data.result
        this.order.orderId = this.orderId
      })
      .catch(e => {
        this.error = e.message
      })

    axios
      .get(process.env.API_URL + '/Orders/' + this.orderId + '/QRCode', {
        responseType: 'arraybuffer'
      })
      .then((response) => {
        this.qrcode = 'data:image/png;base64, ' + Buffer.from(response.data, 'binary').toString('base64')
      })
      .catch(e => {
        this.error = e.message
      })
  },
  components: {
    OrderDetail
  }
}
</script>
