<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'home' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('confirmation.confirmation') }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid grid-list-lg>
        <order-detail :order="order"></order-detail>
        <!--v-btn small color="primary">{{ $t('confirmation.cancel_order') }}</v-btn-->
      </v-container>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios'
import OrderDetail from '@/components/OrderDetail'

export default {
  data () {
    return {
      orderId: parseInt(this.$route.params.orderId),
      order: {}
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/Orders/' + this.orderId)
      .then((response) => {
        this.order = response.data.result
        this.order.orderId = this.orderId
      })
      .catch(e => {
        this.error = e.message
      })
  },
  components: {
    OrderDetail
  }
}
</script>
