<template>
  <div>
    <v-toolbar dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'home' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('payment.payment_informations') }}</v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container>
        <v-list v-if="paymentMean.paymentMethod">
          <v-subheader>{{ paymentMean.paymentMethod }}</v-subheader>
          <v-list-tile>{{ paymentMean.displayText }}</v-list-tile>
          <v-btn color="info" @click="removePaymentMean">Supprimer le moyen de paiement</v-btn>
        </v-list>
        <div v-else-if="url === null">
          <v-btn color="info" @click="addPaymentMean">Ajouter un moyen de paiement</v-btn>
        </div>
        <iframe class="o-paymentIframe" ref="iframe" v-show="url" :src="url" style="width:100%;height:60vh;padding:20px;border:none;"></iframe>
      </v-container>
    </v-content>
  </div>
</template>

<script>

// https://saferpay.github.io/sndbx/paymentmeans.html

import axios from 'axios'

export default {
  data () {
    return {
      paymentMean: {},
      url: null
    }
  },
  mounted () {
    window.document.addEventListener('myCustomEvent', handleEvent, false)

    function handleEvent (e) {
      console.log(e.detail) // outputs: {foo: 'bar'}
    }
    axios
      .get(process.env.API_URL + '/PaymentMeans')
      .then((response) => {
        var self = this

        setTimeout(function () {
          self.paymentMean = response.data.result
        }, process.env.TIMEOUT)
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    addPaymentMean () {
      axios
        .get(process.env.API_URL + '/PaymentMeans/New')
        .then((response) => {
          var self = this

          setTimeout(function () {
            self.url = response.data.result.url + '?CssUrl=https://ordino.ch/saferpay.css'
          }, process.env.TIMEOUT)
        })
        .catch(e => {
          this.error = e.message
        })
    },
    removePaymentMean () {
      axios
        .delete(process.env.API_URL + '/PaymentMeans/Remove')
        .then((response) => {
          this.url = null
          this.paymentMean = {}
        })
        .catch(e => {
          this.error = e.message
        })
    }
  }
}
</script>
