<template>
  <div>
    <v-toolbar dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'home' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('payment.paymentform') }}</v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container>
        <iframe class="o-payment-iframe" v-if="url" :src="url" style="width:100%;height:60vh;padding:20px;border:none;"></iframe>
      </v-container>
    </v-content>
  </div>
</template>

<script>
export default {
  computed: {
    url () {
      return this.$store.getters.getPaymentUrl
    }
  }
}
</script>
