<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'pointsofsales' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('filters.filter') }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <v-switch :label="$t('filters.open_now')" v-model="filter.onlyOpenNow"></v-switch>
          <v-flex xs12>
            <v-subheader class="pl-0">{{ $t('filters.range') }}</v-subheader>
            <v-slider
              v-model="filter.distanceMaxInKm"
              max="200"
              thumb-label="always"
            ></v-slider>
            <v-subheader class="pl-0">{{ $t('filters.categories') }}</v-subheader>
            <v-checkbox
              v-for="(category, index) in categories"
              :key="index"
              :label="category.categoryName"
              :value="category.categoryId"
              v-model="filter.category"
              hide-details>
            </v-checkbox>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <div class="bottom-container">
      <v-btn large color="primary" dark class="filters-save" @click="save">{{ $t('filters.save') }}</v-btn>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      categories: [],
      filter: this.$store.getters.getFilters
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/BusinessCategories')
      .then((response) => {
        this.categories = response.data.result
      })
      .catch(e => {
        this.loader = false
        this.error = e.message
      })
  },
  methods: {
    save: function () {
      this.$store.dispatch('setFilters', this.filter)
      this.$router.push({ name: 'pointsofsales' })
    }
  }
}
</script>

<style>
.bottom-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.filters-save {
  width: calc(100% - 16px);
}
</style>
