<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'pointsofsales' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-toolbar>
    <v-content class="o-map">
      <gmap-map
        :center="location"
        :zoom="10"
        :options="mapOptions"
        @click="hideDetail()">
        <gmap-marker
          v-for="(item, key) in pointsOfSales"
          :key="key"
          :position="item.position"
          :label="{
            fontFamily: 'Material Icons',
            fontSize: '20px',
            text: 'store_mall_directory',
          }"
          @click="showDetail(item)"
        />
      </gmap-map>
      <point-of-sales-map-detail :pointOfSales="detail"></point-of-sales-map-detail>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'
import pointOfSalesMapDetail from '@/components/PointOfSalesMapDetail'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyCjrNIo4FEnUtJkcL8sxnu90NdxJ1cnlQc'
  }
})

export default {
  data () {
    return {
      mapOptions: {
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        zoomControl: false
      },
      detail: {},
      title: '',
      pointsOfSales: []
    }
  },
  computed: {
    location () {
      return this.$store.getters.getLocation
    }
  },
  mounted () {
    const filter = this.$store.getters.getFilters

    axios
      .get(process.env.API_URL + '/PointsOfSales', {
        params: {
          longitude: this.location.lng,
          latitude: this.location.lat,
          distanceMaxInKm: filter.distanceMaxInKm,
          onlyOpenNow: filter.onlyOpenNow,
          category: filter.category,
          sortBy: filter.sortBy,
          direction: filter.direction
        }
      }).then((response) => {
        this.pointsOfSales = response.data.result

        this.pointsOfSales.forEach((e) => {
          e.full_name = e.pointOfSalesName
          e.id = e.pointOfSalesId
          e.position = {
            lat: e.latitude,
            lng: e.longitude
          }
        })
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    showDetail (item) {
      this.detail = item
    },
    hideDetail () {
      this.detail = {}
    }
  },
  components: {
    pointOfSalesMapDetail
  }
}
</script>

<style>
/* .vue-map-container {
  height: calc(100vh - 56px);
} */
</style>
