<template>
  <div>
    <v-toolbar dark fixed app
      :style="'background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(' + background + ')'">
      <v-toolbar-side-icon @click="back">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ pointOfSales.pointOfSalesName }}</v-toolbar-title>
    </v-toolbar>

    <div class="o-header" :style="'background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(' + background + ')'">
      <v-container>
        <v-layout align-center>
          <v-flex shrink>
            <v-btn icon dark class="o-header-button">
              <v-icon>local_phone</v-icon>
            </v-btn>
          </v-flex>
          <v-flex grow style="max-width: calc(100% - 100px);padding-right: 10px;">
            <h2 class="body-1">{{ pointOfSales.addressLine }}, {{ pointOfSales.locality }}</h2>
            <h3 class="body-1">{{ distance | distance }} | {{ $t('pointofsales.open_until', { time: '19h30' }) }}</h3>
          </v-flex>
          <v-flex shrink>
            <image-skeleton
              :src="pointOfSales.companyLogoUrl"
              :ratio="1"
              class="o-header-logo"
            ></image-skeleton>
          </v-flex>
        </v-layout>
      </v-container>
    </div>

    <v-content>
      <the-error-page v-if="error" :error="error"></the-error-page>
      <v-container fluid grid-list-lg>
        <offers-list :pointOfSalesId="id"></offers-list>
        <article-highlight-list :pointOfSalesId="id"></article-highlight-list>
        <article-categories-list :pointOfSalesId="id"></article-categories-list>
      </v-container>
    </v-content>
    <the-shopping-cart-button :pointOfSalesId="id"></the-shopping-cart-button>
  </div>
</template>

<script>
import axios from 'axios'
import ArticleCategoriesList from '@/components/ArticleCategoriesList'
import ArticleHighlightList from '@/components/ArticleHighlightList'
import ImageSkeleton from '@/components/ImageSkeleton'
import OffersList from '@/components/OffersList'
import TheErrorPage from '@/components/TheErrorPage'
import TheShoppingCartButton from '@/components/TheShoppingCartButton'

export default {
  data () {
    return {
      error: '',
      id: parseInt(this.$route.params.id),
      distance: 0,
      pointOfSales: {},
      articleCategories: {},
      background: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN89x8AAuEB74Y0o2cAAAAASUVORK5CYII='
    }
  },
  computed: {
    location () {
      return this.$store.getters.getLocation
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/PointsOfSales/' + this.id)
      .then((response) => {
        var self = this
        setTimeout(() => {
          self.pointOfSales = response.data.result
          self.background = self.pointOfSales.backgroundImageUrl
        }, process.env.TIMEOUT)

        axios
          .get(process.env.API_URL + '/PointsOfSales/' + this.id + '/DistanceInKm', {
            params: {
              longitude: this.location.lng,
              latitude: this.location.lat
            }
          })
          .then((response) => {
            this.distance = response.data.result
          })
          .catch(e => {
            this.error = e.message
          })
      })
      .catch(e => {
        this.error = e.message
      })

    axios
      .get(process.env.API_URL + '/PointsOfSales/' + this.id + '/ArticleCategories')
      .then((response) => {
        this.articleCategories = response.data.result
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    back () {
      if (this.$route.params.home) {
        this.$router.push({ name: 'home' })
      } else {
        this.$router.push({ name: 'pointsofsales' })
      }
    }
  },
  components: {
    ArticleCategoriesList,
    ArticleHighlightList,
    ImageSkeleton,
    OffersList,
    TheErrorPage,
    TheShoppingCartButton
  }
}
</script>
