<template>
  <div>
    <v-toolbar
      dark
      fixed
      app
      :style="'background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(' + background + ')'">
      <v-toolbar-side-icon :to="{ name: 'home' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-toolbar>

    <div class="o-header" :style="'background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(' + background + ')'">
      <v-container class="mt-3">
        <v-layout justify-center>
          <v-flex shrink>
            {{ subtitle }}
          </v-flex>
        </v-layout>
      </v-container>
    </div>

    <v-content>
      <the-error-page v-if="error" :error="error"></the-error-page>
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <point-of-sales-card
            v-for="(pointOfSales, index) in pointsOfSales"
            :pointOfSales="pointOfSales"
            :key="index">
          </point-of-sales-card>
        </v-layout>
      </v-container>
    </v-content>
    <v-bottom-nav app>
      <v-btn :to="{ name: 'pointsofsalesfilters' }">
        <span>{{ $t('pointsofsales.filter') }}</span>
        <v-icon>filter_list</v-icon>
      </v-btn>
      <v-btn :to="{ name: 'pointsofsalessort' }">
        <span>{{ $t('pointsofsales.sort') }}</span>
        <v-icon>swap_vert</v-icon>
      </v-btn>
      <v-btn :to="{ name: 'pointsofsalesmap' }">
        <span>{{ $t('pointsofsales.map') }}</span>
        <v-icon>map</v-icon>
      </v-btn>
    </v-bottom-nav>
  </div>
</template>

<script>
import axios from 'axios'
import PointOfSalesCard from '@/components/PointOfSalesCard'
import TheErrorPage from '@/components/TheErrorPage'

export default {
  data () {
    return {
      category: this.$route.params.category,
      error: '',
      pointsOfSales: [{skeleton: true}, {skeleton: true}, {skeleton: true}],
      title: '',
      subtitle: '',
      background: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN89x8AAuEB74Y0o2cAAAAASUVORK5CYII='
    }
  },
  computed: {
    location () {
      return this.$store.getters.getLocation
    }
  },
  mounted () {
    if (this.category !== undefined) {
      this.$store.dispatch('setFilters', { category: [parseInt(this.category)] })
    }

    const filter = this.$store.getters.getFilters

    if (filter.category.length === 1) {
      axios
        .get(process.env.API_URL + '/BusinessCategories/' + parseInt(filter.category[0]))
        .then((response) => {
          var self = this
          setTimeout(() => {
            const category = response.data.result
            this.background = category.imageUrl
            self.title = category.categoryName
          }, process.env.TIMEOUT)
        })
        .catch(e => {
          this.error = e.message
        })
    } else {
      this.title = 'Points de vente'
      this.background = require('@/assets/pointsofsales.jpg')
    }

    axios
      .get(process.env.API_URL + '/PointsOfSales', {
        params: {
          longitude: this.location.lng,
          latitude: this.location.lat,
          distanceMaxInKm: filter.distanceMaxInKm,
          onlyOpenNow: filter.onlyOpenNow,
          categories: filter.category.join(','),
          sortBy: filter.sortBy,
          direction: filter.direction
        }
      })
      .then((response) => {
        var self = this

        setTimeout(function () {
          self.pointsOfSales = response.data.result
          self.subtitle = self.$t('pointsofsales.number_pointsofsales_nearby', { number: self.pointsOfSales.length })
        }, process.env.TIMEOUT)
      })
      .catch(e => {
        this.error = e.message
      })
  },
  components: {
    PointOfSalesCard,
    TheErrorPage
  }
}
</script>
