<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ category.categoryName }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <the-error-page v-if="error" :error="error"></the-error-page>
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <v-flex xs6 sm3 grow
            v-for="(article, index) in category.articles"
            :article="article"
            :pointOfSalesId="pointOfSalesId"
            :key="index">
            <article-card :article="article"></article-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <the-shopping-cart-button :pointOfSalesId="pointOfSalesId"></the-shopping-cart-button>
  </div>
</template>

<script>
import axios from 'axios'
import ArticleCard from '@/components/ArticleCard'
import TheErrorPage from '@/components/TheErrorPage'
import TheShoppingCartButton from '@/components/TheShoppingCartButton'

export default {
  data () {
    return {
      error: '',
      pointOfSalesId: parseInt(this.$route.params.pointOfSalesId),
      articleCategoryId: parseInt(this.$route.params.articleCategoryId),
      category: {articles: [
        {skeleton: true}, {skeleton: true}, {skeleton: true}, {skeleton: true}, {skeleton: true}, {skeleton: true}
      ]}
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/PointsOfSales/' + this.pointOfSalesId + '/ArticleCategories/' + this.articleCategoryId)
      .then((response) => {
        var self = this

        setTimeout(function () {
          self.category = response.data.result
        }, process.env.TIMEOUT)
      })
      .catch(e => {
        this.error = e.message
      })
  },
  components: {
    ArticleCard,
    TheErrorPage,
    TheShoppingCartButton
  }
}
</script>
