<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'pointsofsales' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('sort.sort') }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid grid-list-lg>
        <v-layout row wrap>
          <v-flex>
            <v-radio-group v-model="filter.sortBy">
              <v-radio :label="$t('sort.nearest')" value="DistanceInKm"></v-radio>
              <v-radio :label="$t('sort.alphabetical')" value="PointOfSalesName"></v-radio>
            </v-radio-group>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <div class="bottom-container">
      <v-btn large color="primary" dark class="filters-save" @click="save">{{ $t('filters.save') }}</v-btn>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      categories: [],
      filter: this.$store.getters.getFilters
    }
  },
  mounted () {
    console.log(this.filter.sortBy)
    axios
      .get(process.env.API_URL + '/BusinessCategories')
      .then((response) => {
        this.categories = response.data.result
      })
      .catch(e => {
        this.loader = false
        this.error = e.message
      })
  },
  methods: {
    save: function () {
      this.$store.dispatch('setFilters', this.filter)
      this.$router.push({ name: 'pointsofsales' })
    }
  }
}
</script>
