<template>
  <v-content class="slider">
    <v-carousel height="100vh" :cycle="false" :hide-controls="true">
      <v-carousel-item>
        <v-layout align-center justify-center style="height:100vh;">
          <v-flex xs10 class="text-xs-center">
            <img class="mb-4" :src="require('@/assets/presentation_1.svg')">
            <h2 class="display-1 white--text mb-4">{{ $t('presentation.1.title') }}</h2>
            <h3 class="title white--text mb-4" v-html="$t('presentation.1.lines')">
            </h3>
          </v-flex>
        </v-layout>
      </v-carousel-item>
      <v-carousel-item>
        <v-layout align-center justify-center style="height:100vh;">
          <v-flex xs10 class="text-xs-center">
            <img class="mb-4" :src="require('@/assets/presentation_2.svg')">
            <h2 class="display-1 white--text mb-4" v-html="$t('presentation.2.lines')"></h2>
            <h3 class="title white--text mb-4">
              Payez en ligne<br>
              Choisissez l'heure de retrait<br>
              Cumulez des points de fidélité
            </h3>
          </v-flex>
        </v-layout>
      </v-carousel-item>
      <v-carousel-item >
        <v-layout align-center justify-center style="height:100vh;">
          <v-flex xs10 class="text-xs-center">
            <img class="mb-4" :src="require('@/assets/presentation_3.svg')">
            <h2 class="display-1 white--text mb-4" v-html="$t('presentation.3.lines')"></h2>
            <h3 class="title white--text mb-4">
              Votre commande est prête dès votre arrivée
            </h3>
            <v-btn
              class="slider-button"
              large
              light
              :to="{ name: 'home' }">
              Commencer mes achats
            </v-btn>
          </v-flex>
        </v-layout>
      </v-carousel-item>
    </v-carousel>
  </v-content>
</template>

<script>
export default {
}
</script>

<style>
  .slider .v-content__wrap {
    padding: 0;
  }

  .slider .v-responsive__content {
    background-image: linear-gradient(-101deg, #FF9953 0%, #E44D61 100%);
  }

  .slider h2 {
    font-family: 'Signika Negative', sans-serif !important;
    font-weight: bold !important;
  }

  .slider h3 {
    line-height: 1.5 !important;
  }

  .slider .v-carousel__controls {
    background: none;
  }

  .slider .v-icon {
    opacity: 1;
  }

  .slider-button {
    background: #fff !important;
    color: #EB823B !important;
  }
</style>
