<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'pointofsales', params: {id: pointOfSalesId} }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('shoppingcart.shoppingcart') }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-list two-line>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title class="caption mb-2 o-section-title">
              {{ $tc('shoppingcart.articles', articlesNumber) }}
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action class="caption mb-2 o-section-title">
            <v-list-tile-sub-title>
              <span v-if="totalPrice != totalPriceWithDiscount">
                <span class="o-price-new">{{ totalPriceWithDiscount | price }}</span>
                <span class="o-price-old">{{ totalPrice | price }}</span>
              </span>
              <span v-else>
                {{ totalPrice | price }}
              </span>
            </v-list-tile-sub-title>
          </v-list-tile-action>
        </v-list-tile>
        <shopping-cart-line
          v-for="(line, index) in lines"
          :line="line"
          :key="index"
          :showTodayUnavailable="showTodayUnavailable">
        </shopping-cart-line>
      </v-list>
    </v-content>
    <div class="o-shoppingcart">
      <v-btn
        v-if="articlesNumber"
        :to="{ name: 'withdrawn', params: {pointOfSalesId: pointOfSalesId} }"
        large
        color="primary"
        dark
      >
        <v-icon left>date_range</v-icon>
        {{ $t('shoppingcart.withdrawn_date_time') }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import shoppingCartLine from '@/components/shoppingCartLine'

export default {
  data () {
    return {
      pointOfSalesId: parseInt(this.$route.params.pointOfSalesId),
      showTodayUnavailable: this.$route.params.showTodayUnavailable
    }
  },
  mounted () {
    const pointOfSalesId = this.pointOfSalesId
    this.$store.dispatch('loadCart', { pointOfSalesId })
  },
  computed: {
    lines () {
      return this.$store.getters.getLines
    },
    articlesNumber () {
      return this.$store.getters.getArticlesNumber
    },
    totalPrice () {
      return this.$store.getters.getTotalPrice
    },
    totalPriceWithDiscount () {
      return this.$store.getters.getTotalPriceWithDiscount
    }
  },
  components: {
    shoppingCartLine
  }
}
</script>
