<template>
  <div>
    <v-toolbar dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'home' }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('user.edit_profile') }}</v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container>
        <form class="mb-4">
          <v-text-field
            v-model="firstname"
            :label="$t('user.firstname')"
            required
          ></v-text-field>
          <v-text-field
            v-model="lastname"
            :label="$t('user.lastname')"
            required
          ></v-text-field>
          <v-text-field
            v-model="email"
            label="Email"
            :rules="[rules.required, rules.email]"
          ></v-text-field>
          <v-text-field
            v-model="phone"
            :label="$t('user.phone_number')"
            required
            :rules="[phoneCheck]"
          ></v-text-field>
          <v-select
            :label="$t('user.language')"
            :items="languages"
            v-model="language"
            item-text="name"
            item-value="value"
          ></v-select>
          <v-text-field
            v-model="password"
            :label="$t('user.new_password')"
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            @click:append="showPassword = !showPassword"
            required
          ></v-text-field>
          <v-btn block color="primary" @click.prevent="save">{{ $t('user.validate') }}</v-btn>
        </form>
      </v-container>
    </v-content>
    <v-snackbar
      v-model="showMessage"
      :timeout="6000"
      :bottom="true"
      :multi-line="true"
    >
      Les modifications ont été enregistrées
      <v-btn
        color="primary"
        flat
        @click="showMessage = false"
      >
        Fermer
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import { Trans } from '@/plugins/i18n'

export default {
  data: () => ({
    drawer: false,
    firstname: null,
    lastname: null,
    email: null,
    phone: null,
    password: null,
    language: null,
    languages: [
      { value: 'FR', name: 'Français' },
      { value: 'DE', name: 'Deutsch' }
    ],
    showPassword: false,
    showMessage: false,
    rules: {
      required: value => !!value || 'Required.',
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      }
    }
  }),
  mounted () {
    axios
      .get(process.env.API_URL + '/Users/profile')
      .then((response) => {
        const result = response.data.result
        this.firstname = result.firstname
        this.lastname = result.lastname
        this.email = result.email
        this.phone = result.phone
        this.language = result.language
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    phoneCheck () {
      this.errorMessages = 'test'

      return true
    },
    save () {
      axios
        .patch(process.env.API_URL + '/Users/profile', {
          firstname: this.firstname,
          lastname: this.lastname,
          email: this.email,
          phone: this.phone,
          language: this.language
        })
        .then((response) => {
          this.showMessage = true
          Trans.changeLanguage(this.language.toLowerCase())
        })
        .catch(e => {
          this.error = e.message
        })
    }
  }
}
</script>
