<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('user.validate_account') }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container>
        <form class="mb-4" v-if="showSendAgain === false">
          <v-text-field
            v-model="smscode"
            :label="$t('user.smscode')"
            required
          ></v-text-field>
          <v-btn block color="primary" @click="validate" >{{ $t('user.validate_account') }}</v-btn>
        </form>
        <a href="#" v-if="showSendAgain === false" @click="showSendAgain = true">{{ $t('sms.send_again') }}</a>
        <form class="mb-4" v-if="showSendAgain === true">
          <v-text-field
            v-model="phone"
            :label="$t('user.phone')"
            required
          ></v-text-field>
          <v-btn block color="primary" @click="sendAgain" >{{ $t('sms.send_again') }}</v-btn>
        </form>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import axios from 'axios'
import {AUTH_REQUEST} from '@/store/actions/auth'

export default {
  data: function () {
    return {
      smscode: null,
      phone: this.$store.getters.tmpUser.phone,
      oldPhone: this.$store.getters.tmpUser.phone,
      showSendAgain: false
    }
  },
  methods: {
    validate () {
      axios
        .post(process.env.API_URL + '/Users/SmsValidation', {
          phoneNumber: this.phone,
          smsCode: this.smscode
        })
        .then((response) => {
          this.$store.dispatch(AUTH_REQUEST, this.$store.getters.tmpUser).then(() => {
            this.$router.push('/')
          })
        })
        .catch(e => {
          alert('error')
        })
    },
    sendAgain () {
      this.showSendAgain = false

      axios
        .post(process.env.API_URL + '/Users/ResendSmsCode', {
          oldPhoneNumber: this.oldPhone,
          newPhoneNumber: this.phone
        })
        .then((response) => {
        })
        .catch(e => {
          alert('error')
        })
    }
  }
}
</script>
