<template>
  <div>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon :to="{ name: 'shoppingcart', params: {id: pointOfSalesId} }">
        <v-icon>arrow_back</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>{{ $t('withdrawn.withdrawn_informations') }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container>
        <v-layout row>
          <v-flex xs12>
            <h2 class="caption mb-2 o-section-title">{{ $t('withdrawn.withdrawn_day') }}</h2>
            <v-radio-group v-model="choice">
              <v-radio
                value="today"
                :disabled="this.disabledChoices.today"
                color="primary"
                :label="$t('withdrawn.today')"
              ></v-radio>
              <v-radio
                value="tomorrow"
                :disabled="this.disabledChoices.tomorrow"
                color="primary"
                :label="$t('withdrawn.tomorrow')"
              ></v-radio>
              <v-radio
                value="other"
                color="primary"
                :label="customDateLabel || $t('withdrawn.another_day')"
                on-icon="date_range"
                off-icon="date_range"
                @click="showDatePicker = true">
              </v-radio>
            </v-radio-group>
            <the-withdrawn-date-picker
              :availableDays="availableDays"
              :showDatePicker="showDatePicker"
              v-on:hideDatePicker="showDatePicker = false"
              v-on:saveCustomDate="saveCustomDate"
            ></the-withdrawn-date-picker>
          </v-flex>
        </v-layout>
        <h2 class="caption mb-2 o-section-title">{{ $t('withdrawn.withdrawn_time') }}</h2>
        <v-radio-group>
          <v-radio
            color="primary"
            :label="time"
            on-icon="schedule"
            off-icon="schedule"
            @click="showTimePicker = true">
          </v-radio>
        </v-radio-group>
        <the-withdrawn-time-picker
          :date="date"
          :pointOfSalesId="pointOfSalesId"
          :showTimePicker="showTimePicker"
          v-on:hideTimePicker="showTimePicker = false"
          v-on:saveCustomTime="saveCustomTime"
        ></the-withdrawn-time-picker>
        <div v-if="isOrderDisallowed">
          Vous souhaitez commander certains articles dans une quantité non disponible pour aujourd'hui.<br>
          Choisissez un autre jour de retrait ou
          <router-link :to="{ name: 'shoppingcart', params: {id: pointOfSalesId, showTodayUnavailable: true} }">
            éditez votre panier
          </router-link>.
        </div>
      </v-container>
    </v-content>
    <div class="o-shoppingcart" v-show="isOrderDisallowed === false">
      <v-btn
        @click="sendCart"
        large
        color="primary"
        dark
      >
        <v-icon left>shopping_cart</v-icon>
        {{ $t('withdrawn.order') }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import TheWithdrawnDatePicker from '@/components/TheWithdrawnDatePicker'
import TheWithdrawnTimePicker from '@/components/TheWithdrawnTimePicker'

export default {
  data () {
    return {
      choice: 'today',
      date: this.$moment().format('YYYY-MM-DD'),
      showDatePicker: false,
      showTimePicker: false,
      availableDays: null,
      customDateLabel: null,
      pointOfSalesId: parseInt(this.$route.params.pointOfSalesId),
      time: null,
      unavailableArticles: this.$store.getters.getTodayUnavailableArticles
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/PointsOfSales/' +
        this.pointOfSalesId + '/NextOpenDays')
      .then((response) => {
        this.availableDays = response.data.result.map(
          value => this.$moment(value).format('YYYY-MM-DD')
        )
      })
      .catch(e => {
        this.error = e.message
      })
  },
  computed: {
    disabledChoices () {
      var disabledChoices = {
        today: true,
        tomorrow: true
      }
      if (this.availableDays) {
        disabledChoices.today = !this.availableDays.includes(
          this.$moment().format('YYYY-MM-DD')
        )
        disabledChoices.tomorrow = !this.availableDays.includes(
          this.$moment().add('days', 1).format('YYYY-MM-DD')
        )
      }

      return disabledChoices
    },
    isOrderDisallowed () {
      return this.choice === 'today' && this.unavailableArticles.length > 0
    }
  },
  methods: {
    saveCustomDate (day) {
      this.date = day
      this.showDatePicker = false
      this.showTimePicker = true
      this.customDateLabel = this.$moment(this.date).format('dddd DD MMMM')
    },
    saveCustomTime (data) {
      this.time = data.time.substr(0, 5)
      this.showTimePicker = !data.hide
    },
    sendCart () {
      this.$store.dispatch('sendCart', {
        pointOfSalesId: this.pointOfSalesId,
        withdrawnDate: this.date + 'T' + this.time
      })
    },
    editCart () {
      alert('edit')
    }
  },
  watch: {
    choice (value) {
      switch (value) {
        case 'today':
          this.date = this.$moment().format('YYYY-MM-DD')
          this.showTimePicker = true
          break
        case 'tomorrow':
          this.date = this.$moment().add('days', 1).format('YYYY-MM-DD')
          this.showTimePicker = true
          break
        case 'other':
          this.showDatePicker = true
          break
      }
    }
  },
  components: {
    TheWithdrawnDatePicker,
    TheWithdrawnTimePicker
  }
}
</script>
