<template>
  <v-dialog
    v-model="openModal"
    max-width="290"
  >
    <v-card>
      <v-container
        fluid
        grid-list-lg
      >
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-title primary-title>
              <div>
                <div class="headline">{{ article.articleName }}</div>
                <div v-if="article.discountAmount">
                  <span class="o-price-new">{{ article.price + article.discountAmount | price }}</span>
                  <span class="o-price-old">{{ article.price || 0 | price }}</span>
                </div>
                <div v-else>{{ article.price || 0 | price }}</div>
              </div>
            </v-card-title>
            <v-select
              :items="availableQuantities"
              v-model=quantity
            ></v-select>
            <div v-if="showAlert">
              La quantité sélectionnée n'est pas disponible aujourd'hui. Vous pouvez tout de même passer une commande et la retirer un autre jour.
            </div>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          large
          color="primary"
          dark
          class="o-modal-addtocart"
          @click="addToCart"
        >
          <v-icon left>shopping_cart</v-icon>
          <span v-if="isInCart">Modifier la quantité</span>
          <span v-else>Ajouter au panier</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    article: Object,
    value: Boolean
  },
  data () {
    return {
      quantity: 1,
      availableQuantities: [],
      isInCart: false
    }
  },
  mounted () {
    var quantityInCart = this.$store.getters.getQuantityInCart(this.article.articleId)

    if (quantityInCart > 0) {
      this.isInCart = true
      this.quantity = quantityInCart
    }

    this.availableQuantities = Array.from({length: this.article.dailyStockQuantity}, (v, k) => k + 1)
  },
  computed: {
    openModal: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    showAlert () {
      return this.quantity > this.article.todayRemainingQuantity - 2
    }
  },
  methods: {
    addToCart () {
      if (this.isInCart === true) {
        this.$store.dispatch('changeQuantity', {
          orderLineId: this.$store.getters.getOrderLineId(this.article.articleId),
          newQuantity: this.quantity
        })
      } else {
        this.$store.dispatch('addToCart', {
          articleId: this.article.articleId,
          pointOfSalesId: this.article.pointOfSalesId,
          quantity: this.quantity
        })

        this.isInCart = true
      }

      this.openModal = false
    }
  }
}
</script>
