<template>
  <div class="mb-4">
    <h2 class="caption mb-2 o-section-title">{{ $t('pointofsales.categories') }}</h2>
    <v-list two-line>
      <template v-for="(category, index) in categories">
        <v-divider
          :key="index"
          v-if="index"
          inset
        ></v-divider>
        <article-category-tile
          v-if="category.numberOfArticles || category.skeleton"
          :key="category.categoryName"
          :category="category"
        ></article-category-tile>
      </template>
    </v-list>
  </div>
</template>

<script>
import axios from 'axios'
import ArticleCategoryTile from '@/components/ArticleCategoryTile'

export default {
  props: {
    pointOfSalesId: Number
  },
  data () {
    return {
      categories: [{skeleton: true}, {skeleton: true}, {skeleton: true}]
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/PointsOfSales/' + this.pointOfSalesId + '/ArticleCategories')
      .then((response) => {
        var self = this

        setTimeout(function () {
          self.categories = response.data.result
        }, process.env.TIMEOUT)
      })
      .catch(e => {
        this.loader = false
        this.error = e.message
      })
  },
  components: {
    ArticleCategoryTile
  }
}
</script>
