<template>
  <v-list-tile :to="{ name: 'pointofsalesarticles', params: {
    pointOfSalesId: category.pointOfSalesId || 0,
    articleCategoryId: category.categoryId || 0,
  }}">
    <v-list-tile-avatar>
      <image-skeleton
        :src="category.imageUrl"
        :ratio="1"
      ></image-skeleton>
    </v-list-tile-avatar>
    <v-list-tile-content>
      <text-skeleton :trigger="category">
        <v-list-tile-title
          class="body-2"
          v-html="category.categoryName || '&nbsp;'"
        ></v-list-tile-title>
      </text-skeleton>
      <text-skeleton :trigger="category">
        <v-list-tile-sub-title class="caption">
          {{ category.numberOfArticles || '&nbsp;' }} articles
        </v-list-tile-sub-title>
      </text-skeleton>
    </v-list-tile-content>
  </v-list-tile>
</template>

<script>
import ImageSkeleton from '@/components/ImageSkeleton'
import TextSkeleton from '@/components/TextSkeleton'

export default {
  props: {
    category: Object
  },
  components: {
    ImageSkeleton,
    TextSkeleton
  }
}
</script>
