<template>
  <div class="mb-4">
    <h2 class="caption mb-2 o-section-title">{{ $t('pointofsales.selection_specialities') }}</h2>
    <div class="o-horizontal-swipe">
      <v-layout row>
        <v-flex xs5 sm3 grow
          v-for="(article, index) in articles"
          :key="index">
          <article-card :article="article"></article-card>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import ArticleCard from '@/components/ArticleCard'

export default {
  props: {
    pointOfSalesId: Number
  },
  data () {
    return {
      articles: [{skeleton: true}, {skeleton: true}, {skeleton: true}]
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/PointsOfSales/' + this.pointOfSalesId + '/ArticleCategories')
      .then((response) => {
        var numberOfArticles = 0
        var categoryId

        response.data.result.forEach((value) => {
          if (value.numberOfArticles > numberOfArticles) {
            categoryId = value.categoryId
          }
        })

        axios
          .get(process.env.API_URL + '/PointsOfSales/' + this.pointOfSalesId + '/ArticleCategories/' + categoryId)
          .then((response) => {
            var self = this
            setTimeout(function () {
              self.articles = response.data.result.articles
            }, process.env.TIMEOUT)
          })
          .catch(e => {
            this.error = e.message
          })
      })
      .catch(e => {
        this.error = e.message
      })
  },
  components: {
    ArticleCard
  }
}
</script>
