<template>
  <div>
    <div
      v-for="(information, index) in informations"
      :key="index">
      <h3>{{ information.title }}</h3>
      <vue-markdown :source="information.markdownInformation"></vue-markdown>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    informations: Array
  }
}
</script>
