<template>
  <v-card>
    <div
      class="o-card-imgwrapper"
      @click="openAddToCartModal"
    >
      <article-informations :informations="article.informations"></article-informations>
      <image-skeleton
        :src="article.imageUrl"
        :ratio="1"
      ></image-skeleton>
      <v-card-actions class="o-card-actions">
        <v-icon>add_shopping_cart</v-icon>
      </v-card-actions>
    </div>
    <v-card-title>
      <div>
        <text-skeleton :trigger="article">
          <h3 class="body-2 mt-2 o-card-title">{{ article.articleName || '&nbsp;' }}</h3>
        </text-skeleton>
        <text-skeleton :trigger="article">
          <h4 class="caption o-card-subtitle">{{ article.price || 0 | price }}</h4>
        </text-skeleton>
      </div>
    </v-card-title>
    <article-modal v-if="article.articleId" v-model="openModal" :article="article"></article-modal>
  </v-card>
</template>

<script>
import ArticleInformations from '@/components/ArticleInformations'
import ArticleModal from '@/components/ArticleModal'
import ImageSkeleton from '@/components/ImageSkeleton'
import TextSkeleton from '@/components/TextSkeleton'

export default {
  props: {
    article: Object,
    pointOfSalesId: Number
  },
  data () {
    return {
      showMenuForm: false,
      openModal: false
    }
  },
  methods: {
    openAddToCartModal () {
      if (this.article.isMenu === true) {
        this.$router.push({ name: 'menu',
          params: {
            pointOfSalesId: this.article.pointOfSalesId,
            categoryId: this.article.categoryId,
            articleId: this.article.articleId
          }
        })
      } else {
        this.openModal = true
      }
    },
    addToCart () {
      if (this.article.isMenu === true) {
        this.$router.push({ name: 'menu',
          params: {
            pointOfSalesId: this.article.pointOfSalesId,
            categoryId: this.article.categoryId,
            articleId: this.article.articleId
          }
        })
      } else {
        this.$store.dispatch('addToCart', {
          articleId: this.article.articleId,
          pointOfSalesId: this.article.pointOfSalesId })
      }
    }
  },
  components: {
    ArticleInformations,
    ArticleModal,
    ImageSkeleton,
    TextSkeleton
  }
}
</script>
