<template>
  <v-flex xs5 sm3 grow>
    <v-card :to="{ name: 'pointofsales', params: {id: item.entityId, home: true} }">
      <div class="o-card-imgwrapper">
        <div class="o-card-logo square">
          <v-img
            :src="imageUrl"
            aspect-ratio="1"
            lazy-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAFElEQVQYV2O8evXqfwYiAONwUggAjeIU+7ZELOYAAAAASUVORK5CYII="
          ></v-img>
        </div>
        <v-img
          :src="backgroundImageUrl"
          aspect-ratio="1"
          lazy-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAFElEQVQYV2O8evXqfwYiAONwUggAjeIU+7ZELOYAAAAASUVORK5CYII="
        ></v-img>
      </div>
      <v-card-title>
        <div style="width:100%;">
          <h3 class="body-2 text-truncate mt-1 o-card-title">{{ item.text }}</h3>
          <h4 class="caption o-card-subtitle">{{ item.categoryName }}</h4>
        </div>
      </v-card-title>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: {
    item: Object
  },
  computed: {
    imageUrl () {
      return this.item.imageUrl || require('@/assets/placeholder.png')
    },
    backgroundImageUrl () {
      return this.item.backgroundImageUrl || require('@/assets/placeholder.png')
    }
  }
}
</script>
