<template>
  <div class="mb-4">
    <text-skeleton :trigger="homeGroup">
      <h2 class="caption mb-2 o-section-title">{{ homeGroup.title || '&nbsp;' }}</h2>
    </text-skeleton>
    <div class="o-horizontal-swipe">
      <v-layout row>
        <component
          v-for="(item, index) in homeGroup.details"
          v-bind:is="'home-group-' + item.entityType + '-card'"
          :item="item"
          :key="index"></component>
      </v-layout>
    </div>
  </div>
</template>

<script>
import homeGroupCategoryCard from '@/components/HomeGroupCategoryCard'
import homeGroupPointOfSalesCard from '@/components/HomeGroupPointOfSalesCard'
import TextSkeleton from '@/components/TextSkeleton'

export default {
  props: {
    homeGroup: Object
  },
  components: {
    homeGroupCategoryCard,
    homeGroupPointOfSalesCard,
    TextSkeleton
  }
}
</script>
