<template>
  <v-flex xs5 sm3 grow>
    <v-card :to="{ name: 'pointsofsales', params: { category: item.entityId }}">
      <image-skeleton
        :src="item.imageUrl"
        :ratio="1"
      ></image-skeleton>
      <v-card-title>
        <div>
          <text-skeleton :trigger="item">
            <h3 class="body-2 text-truncate mt-1 o-card-title">{{ item.text || '&nbsp;' }}</h3>
          </text-skeleton>
          <text-skeleton :trigger="item">
            <h4 class="caption o-card-subtitle">{{ $t('pointsofsales.number_pointsofsales', { number: item.numberOfEntities }) }}</h4>
          </text-skeleton>
        </div>
      </v-card-title>
    </v-card>
  </v-flex>
</template>

<script>
import ImageSkeleton from '@/components/ImageSkeleton'
import TextSkeleton from '@/components/TextSkeleton'

export default {
  props: {
    item: Object
  },
  computed: {
    imageUrl () {
      return this.item.imageUrl || require('@/assets/placeholder.png')
    }
  },
  components: {
    ImageSkeleton,
    TextSkeleton
  }
}
</script>
