<template>
  <v-img
    :src="srcOrPlaceholder"
    :aspect-ratio="ratio"
    :lazy-src="placeholder"
  ></v-img>
</template>

<script>
export default {
  data () {
    return {
      placeholder: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN89x8AAuEB74Y0o2cAAAAASUVORK5CYII='
    }
  },
  props: {
    ratio: Number,
    src: String
  },
  computed: {
    srcOrPlaceholder () {
      return this.src || this.placeholder
    }
  }
}
</script>
