<template>
  <v-container>
    <h2 class="caption mb-2 o-section-title">{{ menuGroup.menuGroupTitle }}</h2>
    <div class="o-horizontal-swipe">
      <v-layout row>
        <v-flex xs5 md4 grow
          v-for="(choice, index) in menuGroup.choices"
          :key="index">
          <label>
            <input
              type="radio"
              style="display: none"
              :name="menuGroup.menuGroupId"
              :value="choice.articleId"
              v-model="selected">
            <v-card class="o-menu-choice">
              <image-skeleton
                :src="choice.imageUrl"
                :ratio="1"
              ></image-skeleton>
              <v-card-title>
                <div>
                    <h3 class="body-2 mt-2 o-card-title">{{ choice.articleName }}</h3>
                </div>
              </v-card-title>
            </v-card>
          </label>
        </v-flex>
      </v-layout>
    </div>
  </v-container>
</template>

<script>
import ImageSkeleton from '@/components/ImageSkeleton'

export default {
  data () {
    return {
      selected: null
    }
  },
  props: {
    menuGroup: Object
  },
  watch: {
    selected (value) {
      if (value !== null) {
        this.$emit('updateSelected', {
          menuGroupId: this.menuGroup.menuGroupId,
          articleId: value
        })
      }
    }
  },
  components: {
    ImageSkeleton
  }
}
</script>
