<template>
  <div class="o-menu-form">
    <v-sheet>
      <v-content>
        <menu-form-group
          v-for="(menuGroup, index) in menuGroups"
          :menuGroup="menuGroup"
          :key="index"
          v-on:updateSelected="updateSelected">
        </menu-form-group>
        <div class="shoppingcart">
          <v-btn
            v-if="canOrder"
            @click="addToCart"
            large
            color="primary"
            dark
            class="shoppingcart-button">
            <v-icon left>shopping_cart</v-icon>
            Ajouter au panier
          </v-btn>
        </div>
      </v-content>
    </v-sheet>
  </div>
</template>

<script>
import axios from 'axios'
import MenuFormGroup from '@/components/MenuFormGroup'

export default {
  props: {
    article: Object
  },
  data () {
    return {
      menuGroups: [],
      order: {},
      canOrder: false
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL +
        '/PointsOfSales/' + this.article.pointOfSalesId +
        '/ArticleCategories/' + this.article.categoryId +
        '/Menu/' + this.article.articleId)
      .then((response) => {
        this.menuGroups = response.data.result.menuGroups
      })
      .catch(e => {
        this.loader = false
        this.error = e.message
      })
  },
  methods: {
    updateSelected (data) {
      this.order[data.menuGroupId] = {
        menuGroupId: data.menuGroupId,
        choiceArticleId: data.articleId
      }

      this.canOrder = this.menuGroups.length === Object.keys(this.order).length
    },
    addToCart () {
      const menuChoices = Object.keys(this.order).map((k) => this.order[k])

      alert('test')

      this.$store.dispatch('addToCart', {
        articleId: this.article.articleId,
        pointOfSalesId: this.article.pointOfSalesId,
        menuChoices
      })
    }
  },
  components: {
    MenuFormGroup
  }
}
</script>
