<template>
    <v-card>
    <div
      class="o-card-imgwrapper"
      @click="openAddToCartModal"
    >
      <image-skeleton
        :src="offer.imageUrl"
        :ratio="1"
      ></image-skeleton>
      <v-card-actions class="o-card-actions">
        <v-icon>add_shopping_cart</v-icon>
      </v-card-actions>
    </div>
    <v-card-title>
      <div>
        <text-skeleton :trigger="offer">
          <h3 class="body-2 mt-2 o-card-title">{{ offer.articleName || '&nbsp;' }}</h3>
        </text-skeleton>
        <text-skeleton :trigger="offer">
          <h4 class="caption o-card-subtitle">
            <span class="o-price-new">{{ offer.price + offer.discountAmount | price }}</span>
            <span class="o-price-old">{{ offer.price || 0 | price }}</span>
          </h4>
        </text-skeleton>
      </div>
    </v-card-title>
    <article-modal v-if="offer.articleId" v-model="openModal" :article="offer"></article-modal>
  </v-card>
</template>

<script>
import ArticleModal from '@/components/ArticleModal'
import ImageSkeleton from '@/components/ImageSkeleton'
import TextSkeleton from '@/components/TextSkeleton'

export default {
  props: {
    offer: Object
  },
  data () {
    return {
      openModal: false
    }
  },
  methods: {
    openAddToCartModal () {
      this.openModal = true
    }
  },
  components: {
    ArticleModal,
    ImageSkeleton,
    TextSkeleton
  }
}
</script>
