<template>
  <div class="mb-4" v-if="offers.length">
    <h2 class="caption mb-2 o-section-title">Offres</h2>
    <div class="o-horizontal-swipe">
      <v-layout row>
        <v-flex xs5 sm3 grow
          v-for="(offer, index) in offers"
          :key="index">
          <offer-card :offer="offer"></offer-card>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import OfferCard from '@/components/OfferCard'

export default {
  props: {
    pointOfSalesId: Number
  },
  data () {
    return {
      offers: {}
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/PointsOfSales/' + this.pointOfSalesId + '/Offers')
      .then((response) => {
        this.offers = response.data.result
      })
      .catch(e => {
        this.error = e.message
      })
  },
  components: {
    OfferCard
  }
}
</script>
