<template>
  <div>
    <h2 class="caption mb-2 o-section-title">{{ $t('confirmation.withdrawn') }}</h2>
    <v-layout>
      <v-flex xs-4>
        <image-skeleton
          :src="order.pointOfSalesLogo"
          :ratio="1"
        ></image-skeleton>
      </v-flex>
      <v-flex xs-8>
        <h3 class="body-2">{{ order.pointOfSalesName }}</h3>
        <p>{{ order.address }}<br>{{ order.postalCode }} {{ order.locality }}</p>
      </v-flex>
    </v-layout>
    <p>
      <v-icon small>date_range</v-icon>
      {{ order.when | moment("dddd Do MMMM YYYY") }}
      <br>
      <v-icon small>schedule</v-icon>
      {{ order.when | moment("HH:mm") }}
      <br>
      <v-icon small>confirmation_number</v-icon>
      {{ order.orderId }}
      <br>
      <v-btn depressed small color="primary" @click="showQRCode = !showQRCode">View QRCode</v-btn>
      <img :src="qrcode" v-if="showQRCode">
    </p>
    <h2 class="caption mb-2 o-section-title">{{ $t('confirmation.articles') }}</h2>
    <v-list>
      <v-list-tile v-for="(line, index) in order.lines" :key="index">
        <v-list-tile-avatar>
          <div class="body-1">{{ line.quantity }}</div>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title class="body-1">{{ line.description }}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <div class="body-1">
            <span v-if="line.discount">
              <span class="o-price-new">{{ line.amount + line.discount.amount | listPrice }}</span>
              <span class="o-price-old">{{ line.amount || 0 | listPrice }}</span>
            </span>
            <span v-else>
              {{ line.amount | listPrice }}
            </span>
          </div>
        </v-list-tile-action>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile>
        <v-list-tile-avatar>
          <div class="body-2">{{ totalArticles }}</div>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title class="body-2">{{ $tc('confirmation.article', totalArticles )}}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <div class="body-2">
            <span v-if="totalAmount != totalAmountWithDiscount">
              <span class="o-price-new">{{ totalAmountWithDiscount | listPrice }}</span>
              <span class="o-price-old">{{ totalAmount || 0 | listPrice }}</span>
            </span>
            <span v-else>
              {{ totalAmount | listPrice }}
            </span>
          </div>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-avatar>
          <div class="body-1">TVA</div>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <div class="body-1" v-if="order.vats">{{ order.vats[0].rate }}%</div>
        </v-list-tile-content>
        <v-list-tile-action>
          <div class="body-1" v-if="order.vats">{{ order.vats[0].vat | listPrice }}</div>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
import ImageSkeleton from '@/components/ImageSkeleton'

export default {
  props: {
    order: Object,
    qrcode: String
  },
  data: function () {
    return {
      showQRCode: false
    }
  },
  computed: {
    totalArticles () {
      var n = 0

      if (this.order.lines) {
        this.order.lines.forEach((line) => {
          n += line.quantity
        })
      }

      return n
    },
    totalAmount () {
      var n = 0

      if (this.order.lines) {
        this.order.lines.forEach((line) => {
          n += line.amount
        })
      }

      return n
    },
    totalAmountWithDiscount () {
      var n = 0

      if (this.order.lines) {
        this.order.lines.forEach((line) => {
          n += line.amount
          if (line.discount) {
            n += line.discount.amount * line.quantity
          }
        })
      }

      return n
    }
  },
  components: {
    ImageSkeleton
  }
}
</script>
