<template>
  <div class="o-map-detail" v-if="pointOfSales.full_name">
    <pointOfSalesCard :pointOfSales="pointOfSales"></pointOfSalesCard>
  </div>
</template>

<script>
import pointOfSalesCard from '@/components/PointOfSalesCard'

export default {
  props: {
    pointOfSales: Object
  },
  components: {
    pointOfSalesCard
  }
}
</script>
