<template>
  <v-flex xs12 sm6>
    <v-card :to="{ name: 'pointofsales', params: {id: pointOfSales.pointOfSalesId || 0} }">
      <div class="o-card-imgwrapper">
        <div class="o-card-logo">
          <image-skeleton
          :src="pointOfSales.logoUrl"
          :ratio="1"
        ></image-skeleton>
        </div>
        <image-skeleton
          :src="pointOfSales.backgroundImageUrl"
          :ratio="1.56"
        ></image-skeleton>
        <v-card-actions class="o-card-actions">
          <v-btn icon dark @click.prevent="addToFavorites" v-if="favorite === false">
            <v-icon color="white">favorite_border</v-icon>
          </v-btn>
          <v-btn icon dark @click.prevent="removeFromFavorites" v-if="favorite === true">
            <v-icon color="white">favorite</v-icon>
          </v-btn>
        </v-card-actions>
      </div>
      <v-card-title>
        <v-layout>
          <v-flex grow>
            <text-skeleton :trigger="pointOfSales">
              <h2 class="title mt-2 mb-1 o-card-title-strong">{{ pointOfSales.pointOfSalesName || '&nbsp;'}}</h2>
            </text-skeleton>
            <text-skeleton :trigger="pointOfSales">
              <h3 class="body-1 font-weight-bold o-card-subtitle">
                {{ $t('pointofsales.located_at', { distance: distance }) }} |
                {{ pointOfSales.openNow ? $t('pointofsales.open') : $t('pointofsales.closed') }} |
                7h00 - 19h00
              </h3>
            </text-skeleton>
          </v-flex>
          <v-flex shrink>
            <v-icon class="o-card-more mt-2">arrow_forward</v-icon>
          </v-flex>
        </v-layout>
      </v-card-title>
    </v-card>
  </v-flex>
</template>

<script>
import axios from 'axios'
import ImageSkeleton from '@/components/ImageSkeleton'
import TextSkeleton from '@/components/TextSkeleton'

export default {
  props: {
    pointOfSales: Object
  },
  data () {
    return {
      favorite: false
    }
  },
  computed: {
    distance () {
      var value = this.pointOfSales.distanceInKm
      if (value > 5) {
        return value.toFixed(0) + ' km'
      } else if (value > 1) {
        return value.toFixed(1) + ' km'
      } else {
        return (value * 1000).toFixed(0) + ' m'
      }
    }
  },
  methods: {
    addToFavorites () {
      axios
        .post(process.env.API_URL + '/PointsOfSales/Favorite', {
          pointOfSalesId: this.pointOfSales.pointOfSalesId
        })
        .then((response) => {
          this.favorite = true
        })
        .catch(e => {
          alert(e)
        })
    },
    removeFromFavorites () {
      axios
        .delete(process.env.API_URL + '/PointsOfSales/Favorite/' + this.pointOfSales.pointOfSalesId)
        .then((response) => {
          this.favorite = false
        })
        .catch(e => {
          alert(e)
        })
    }
  },
  watch: {
    pointOfSales (value) {
      this.favorite = value.favorite
    }
  },
  components: {
    ImageSkeleton,
    TextSkeleton
  }
}
</script>
