<template>
  <div>
    <v-list-tile
      v-bind:class="{ 'o-list-unavailable': isUnavailable }"
    >
      <v-list-tile-avatar>
        <image-skeleton
          :src="line.imageUrl"
          :ratio="1"
        ></image-skeleton>
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title class="body-2">{{ line.description }}</v-list-tile-title>
        <!--v-list-tile-sub-title class="caption" v-if="line.menuLines">
          <div v-for="(menuLine, index) in line.menuLines" :key="index">
            {{ menuLine.description }}
          </div>
        </v-list-tile-sub-title-->
        <v-list-tile-sub-title class="caption">
          <span v-if="line.discount">
            <span class="o-price-new">{{ line.amount + line.discount.amount * line.quantity | price }}</span>
            <span class="o-price-old">{{ line.amount || 0 | price }}</span>
          </span>
          <span v-else>{{ line.amount || 0 | price }}</span>
        </v-list-tile-sub-title>
      </v-list-tile-content>
      <v-list-tile-action>
        <v-select
          class="shoppingcart-select"
          :items="quantities"
          :value="line.quantity"
          @change="changeQuantity"
        ></v-select>
      </v-list-tile-action>
      <v-list-tile-action>
        <v-btn icon @click="removeFromCart">
          <v-icon color="grey lighten-1">
            delete
          </v-icon>
        </v-btn>
      </v-list-tile-action>
    </v-list-tile>
    <v-divider></v-divider>
  </div>
</template>

<script>
import ImageSkeleton from '@/components/ImageSkeleton'

export default {
  props: {
    line: Object,
    showTodayUnavailable: Boolean
  },
  computed: {
    quantities () {
      return Array.from({length: this.line.dailyStockQuantity}, (v, k) => k + 1)
    },
    isUnavailable () {
      return this.showTodayUnavailable &&
        this.line.quantity > this.line.todayStockQuantity - 2
    }
  },
  methods: {
    changeQuantity (newQuantity) {
      const orderLineId = this.line.orderLineId
      this.$store.dispatch('changeQuantity', { orderLineId, newQuantity })
    },
    removeFromCart () {
      const orderLineId = this.line.orderLineId
      this.$store.dispatch('removeFromCart', { orderLineId })
    }
  },
  components: {
    ImageSkeleton
  }
}
</script>

<style>
.shoppingcart-select input {
  display: none;
}
</style>
