<template>
  <div :class="'o-text-skeleton' + loadedClass">
    <slot></slot>
  </div>
</template>

<script>
export default {
  computed: {
    loadedClass: {
      get () {
        return this.trigger.skeleton ? '' : ' is-loaded'
      },
      set () {}
    }
  },
  props: {
    trigger: Object
  },
  watch: {
    trigger () {
      this.loadedClass = ' is-loaded'
    }
  }
}
</script>
