<template>
  <div class="errorpage">
    {{ error }}
  </div>
</template>

<script>
export default {
  props: {
    error: String
  }
}
</script>

<style>
/* .errorpage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #efefef;

  text-align: center;
} */
</style>
