<template>
  <div class="o-alertpage">
    <v-container>
      <v-layout align-center text-xs-center>
        <v-flex xs-12>
          <v-icon x-large dark class="mb-4">location_on</v-icon>
          <h2 class="title mb-4">{{ $t('location.location_services') }}</h2>
          <p class="mb-4">{{ $t('location.verify_activation') }}</p>
          <v-btn @click="hideAlert">OK</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  methods: {
    hideAlert () {
      this.$store.dispatch('hideLocationAlert')
    }
  }
}
</script>
