<template>
  <div>
    <v-text-field
      :value="value"
      prepend-icon="location_on"
      readonly
      class="o-location-selector-trigger"
      @click="showAutocomplete"
      dark
      :label="$t('location.where_search')"
    ></v-text-field>
    <v-autocomplete
      ref="locationselector"
      v-model="model"
      :items="items"
      item-text="name"
      item-value="id"
      :filter="filter"
      :loading="isLoading"
      :search-input.sync="search"
      prepend-icon="location_on"
      :menu-props="{ closeOnClick: true }"
      hide-no-data
      class="o-location-selector"
      dark
      :label="$t('location.where_search')"
    >
      <template
        slot="item"
        slot-scope="data">
        <v-list-tile>
          <v-list-tile-avatar v-if="data.item.type === 'nearby'" class="o-location-selector-avatar">
            <v-icon small>location_searching</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ data.item.name }}
            </v-list-tile-title>
            <v-list-tile-sub-title v-if="data.item.type === 'city'">
              {{ $t('search.switzerland') }}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyCjrNIo4FEnUtJkcL8sxnu90NdxJ1cnlQc',
    libraries: 'places'
  }
})

export default {
  data: () => ({
    predictions: [],
    isLoading: false,
    search: null,
    service: null,
    filter: (item, queryText, itemText) => {
      return itemText.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1 || item.type === 'nearby'
    }
  }),
  computed: {
    value () {
      if (this.location.name) {
        return this.location.name
      } else if (this.location.lat) {
        return this.$t('location.nearby')
      } else {
        return this.$t('location.which_place')
      }
    },
    location () {
      return this.$store.getters.getLocation
    },
    items () {
      return [{ type: 'nearby', name: this.$t('location.nearby'), id: '0' }].concat(this.predictions)
    },
    model: {
      get () {
        return null
      },
      set (placeId) {
        this.$store.dispatch('setLocation', ({placeId}))
        this.$refs.locationselector.blur()
      }
    }
  },
  mounted () {
    this.$gmapApiPromiseLazy().then(() => {
      // eslint-disable-next-line
      this.service = new google.maps.places.AutocompleteService()
    })

    this.predictions = [
      {id: 'ChIJdxs61MA5jkcRmmVXBP5fVcs', type: 'city', name: 'Bern'},
      {id: 'ChIJGaK-SZcLkEcRA9wf5_GNbuY', type: 'city', name: 'Zürich'},
      {id: 'ChIJ6-LQkwZljEcRObwLezWVtqA', type: 'city', name: 'Genève'},
      {id: 'ChIJ5aeJzT4pjEcRXu7iysk_F-s', type: 'city', name: 'Lausanne'}
    ]
  },
  methods: {
    showAutocomplete () {
      document.getElementsByClassName('o-location-selector')[0].style.display = 'flex'
      document.getElementsByClassName('o-location-selector-trigger')[0].style.display = 'none'
      document.querySelectorAll('.o-location-selector input')[0].click()
    }
  },
  watch: {
    search (value) {
      if (value === '' || value === 'A proximité') {
        return []
      }

      this.isLoading = true
      var self = this

      this.service.getPlacePredictions({
        input: value,
        types: ['(cities)'],
        componentRestrictions: {country: 'ch'}},
      function (predictions, status) {
        if (predictions === null) {
          return []
        }
        self.predictions = predictions.map(item => {
          item = {
            type: 'city',
            name: item.terms[0].value,
            id: item.place_id
          }
          return item
        })
        self.isLoading = false
      })
    }
  }
}
</script>
