<template>
  <v-autocomplete
    ref="search"
    flat
    solo-inverted
    :items="pointsOfSales"
    item-value="pointOfSalesId"
    item-text="pointOfSalesName"
    :label="$t('search.store')"
    @change="goToPointOfSales"
  >
    <template
      slot="item"
      slot-scope="data">
      <v-list-tile-content>
        <v-list-tile-title>
          {{ data.item.pointOfSalesName }}
        </v-list-tile-title>
        <v-list-tile-sub-title>
          {{ data.item.categoryName }}
        </v-list-tile-sub-title>
      </v-list-tile-content>
      <v-list-tile-action>
        <v-list-tile-action-text>
          {{ data.item.distanceInKm | distance }}
        </v-list-tile-action-text>
      </v-list-tile-action>
    </template>
  </v-autocomplete>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    location: {},
    pointsOfSales: []
  }),
  methods: {
    focus () {
      this.location = this.$store.getters.getLocation

      axios
        .get(process.env.API_URL + '/PointsOfSales', {
          params: {
            longitude: this.location.lng,
            latitude: this.location.lat
          }
        })
        .then((response) => {
          this.pointsOfSales = response.data.result
        })
        .catch(e => {
          this.loader = false
          this.error = e.message
        })

      setTimeout(() => {
        this.$refs.search.focus()
      }, 100)
    },
    goToPointOfSales (value) {
      this.$router.push({ name: 'pointofsales', params: { id: value, home: true } })
    }
  }
}
</script>
