<template>
  <div class="o-shoppingcart">
    <v-btn
      large
      color="primary"
      dark
      v-if="articlesNumber"
      :to="{ name: 'shoppingcart', params: {pointOfSalesId: pointOfSalesId} }"
      >
      <v-icon left>shopping_cart</v-icon>
      {{ $tc('shoppingcart.articles', articlesNumber) }}
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    pointOfSalesId: Number
  },
  data () {
    return {
      lines: [],
      total: 0
    }
  },
  mounted () {
    const pointOfSalesId = this.pointOfSalesId
    this.$store.dispatch('loadCart', { pointOfSalesId })
  },
  computed: {
    articlesNumber () {
      return this.$store.getters.getArticlesNumber
    }
  }
}
</script>
