<template>
  <div>
    <v-list>
      <v-list-tile>
        <v-list-tile-action>
          <v-avatar color="primary" size="40px">
            <span class="white--text headline">{{ letter }}</span>
          </v-avatar>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ username }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-list dense>
      <v-list-tile :to="{ name: 'account' }">
        <v-list-tile-action>
          <v-icon>create</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('usermenu.edit_account') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile @click="logout">
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('usermenu.logout') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile :to="{ name: 'orders', params: {status: 'current'}}">
        <v-list-tile-action>
          <v-icon>shopping_cart</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-badge>
            <template v-slot:badge>
              <span v-if="activeOrders">{{ activeOrders }}</span>
            </template>
            <v-list-tile-title>{{ $t('usermenu.active_orders') }}</v-list-tile-title>
          </v-badge>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="{ name: 'orders', params: {status: 'closed'}}">
        <v-list-tile-action>
          <v-icon>view_list</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('usermenu.past_orders') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile :to="{ name: 'payment' }">
        <v-list-tile-action>
          <v-icon>payment</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('usermenu.payment_informations') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
import axios from 'axios'
import {AUTH_LOGOUT} from '@/store/actions/auth'

export default {
  props: {
    activeOrders: Number
  },
  data () {
    return {
      letter: '',
      username: ''
    }
  },
  mounted () {
    axios
      .get(process.env.API_URL + '/Users/profile')
      .then((response) => {
        var result = response.data.result
        this.username = result.firstname + ' ' + result.lastname
        this.letter = result.firstname.substr(0, 1)
      })
      .catch(e => {
        this.error = e.message
      })
  },
  methods: {
    logout () {
      this.$store.dispatch(AUTH_LOGOUT).then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>
