<template>
  <v-dialog
    full-width
    v-model="showDatePicker"
    width="290px">
    <v-date-picker
      v-model="day"
      locale="fr-ch"
      :min="today"
      :allowed-dates="allowedDays"
      first-day-of-week="1"
    >
      <v-spacer></v-spacer>
      <v-btn  flat color="primary" @click="$emit('hideDatePicker')">{{ $t('withdrawn.cancel') }}</v-btn>
      <v-btn flat color="primary" @click="$emit('saveCustomDate', day)">{{ $t('withdrawn.ok') }}</v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
export default {
  props: {
    availableDays: Array,
    showDatePicker: Boolean
  },
  data () {
    return {
      day: this.$moment().format('YYYY-MM-DD'),
      today: this.$moment().format('YYYY-MM-DD')
    }
  },
  methods: {
    allowedDays (value) {
      if (this.availableDays) {
        return this.availableDays.includes(value)
      } else {
        return false
      }
    }
  }
}
</script>
