<template>
  <v-dialog
    full-width
    v-model="showTimePicker"
    width="290px"
  >
    <v-time-picker
      v-model="time"
      format="24hr"
      :allowed-hours="allowedHours"
      :allowed-minutes="allowedMinutes"
      v-if="timeRanges"
    >
      <v-spacer></v-spacer>
      <v-btn flat color="primary" @click="$emit('hideTimePicker')">{{ $t('withdrawn.cancel') }}</v-btn>
      <v-btn flat color="primary" @click="$emit('saveCustomTime', {time: time, hide: true})">{{ $t('withdrawn.ok') }}</v-btn>
    </v-time-picker>
  </v-dialog>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    date: String,
    pointOfSalesId: Number,
    showTimePicker: Boolean
  },
  data () {
    return {
      time: null,
      timeRanges: null
    }
  },
  mounted () {
    this.loadTimeRanges()
  },
  methods: {
    allowedHours (value) {
      var allow = false

      this.timeRanges.forEach((range) => {
        if (
          value >= range.from.substring(0, 2) &&
          value <= range.to.substring(0, 2)) {
          allow = true
        }
      })

      return allow
    },
    allowedMinutes (value) {
      var allow = false
      const time = this.time.substring(0, 2) + ':' +
        value.toString().padStart(2, '0') + ':00'

      this.timeRanges.forEach((range) => {
        if (
          time >= range.from &&
          time <= range.to) {
          allow = true
        }
      })

      return allow
    },
    loadTimeRanges () {
      var hide = this.timeRanges === null
      axios
        .get(process.env.API_URL + '/PointsOfSales/' +
          this.pointOfSalesId + '/AvailableHours/' + this.date)
        .then((response) => {
          this.timeRanges = response.data.result
          this.time = this.timeRanges[0].from
          this.$emit('saveCustomTime', {time: this.time, hide: hide})
        })
        .catch(e => {
          this.error = e.message
        })
    }
  },
  watch: {
    date () {
      this.loadTimeRanges()
    }
  }
}
</script>
