<template>
  <div id="app">
    <main class="transition-wrapper">
      <v-app>
        <transition
          :name="transitionName"
          v-on:after-enter="afterEnter"
          v-on:appear="afterEnter">
          <router-view/>
        </transition>
      </v-app>
    </main>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      transitionName: ''
    }
  },
  watch: {
    $route (to, from) {
      this.transitionName = to.meta.level > from.meta.level ? 'next' : 'prev'
    }
  },
  methods: {
    afterEnter: function (e) {
      e.classList.add('is-visible')
    }
  }
}
</script>
